
<res-img></res-img>
<h2 class="brewerdetail-header">{{::spk.brewer.name}}</h2>
<p class="brewerdetail-small">{{::spk.brewer.address}}, {{::spk.brewer.city}}, {{::spk.brewer.state}}</p>
<a ng-href="#!/{{::spk.brewer.selector}}/location" class="brewerdetail-button-map"><p class="brewerdetail-linktext">Locate Brewery</p></a>
<a ng-href="tel:{{::spk.brewer.phone}}" class="brewerdetail-button-phone" telephone-call><p class="brewerdetail-linktext">{{::spk.brewer.phone}}</p></a>
<a ng-href="#!/{{::spk.brewer.selector}}/shoppinglist" class="brewerdetail-button-shopping" ><p class="brewerdetail-linktext">Local Shopping</p></a>
<a ng-href="#!/{{::spk.brewer.selector}}/dininglist" class="brewerdetail-button-dining" ><p class="brewerdetail-linktext">Local Dining</p></a>
<!-- <a ng-href="#!/{{::spk.brewer.selector}}/weather" ng-click="showSpinner()" class="brewerdetail-button-weather" ><p class="brewerdetail-linktext">Local Weather</p></a> -->
<a ng-href="#!/{{::spk.brewer.selector}}/weather" class="brewerdetail-button-weather" ><p class="brewerdetail-linktext">Local Weather</p></a>

<section class="spinner-block" data-loading-spinner>
    <div class="spinner-circle"></div>
</section>
