.header {
    position: fixed;
    top: 0px;
    @include span(12 wide of 12 no-gutters); //aka width-100%, no margins
    z-index: 50;
    background-color: $green;
    @include background-image(linear-gradient($green-light, $green));
    border-bottom: .1em solid $black;
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(18 wide of 18 no-gutters);
    }
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(24 wide of 24 no-gutters);
    }

    &-back-button {
        @extend %nav-buttons;
        @include icon('before', true, 'back');
    }

    &-heading {
        @include span(8 of 12);
        @include type-scale(large);
        margin-top: rhythm(.25, 16px);
        margin-bottom: rhythm(.25, 16px);
        color: $white;
        text-align: center;
    }

    &-home-button {
        @extend %nav-buttons;
        @include icon('before', true, 'home');
    }
}