.spinner {

    &-block {
        display: none;
    }

    &-circle{
        clear: both;
        display: block;
        width: rhythm(5, 16px);
        height: rhythm(5, 16px);
        margin: rhythm(12, 16px) auto;
        @include animation(rotation .95s infinite linear);
        border-top: .2em solid $green-darker;
        border-radius: 100%;
    }

    &-show {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        @include translateZ(15);
        background: rgba($grey-blue-liter, .75);
    }
}

[data-loading-spinner="show"] {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    @include translateZ(15);
    background: rgba($grey-blue-liter, .75);
}

@include keyframes(rotation) {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}