
<section class="yelp-attribution">
    <a ng-href="http://www.yelp.com" target="_blank" class="yelp-attribution-link">Local Shopping Courtesy of </a>
    <div class="brewer40-yelp"></div>
</section>

<input class="search-input" placeholder="Search: Everything" ng-model="search.$">

<div class="brewer-list-scroller" data-scroll-to-top></div>

<a ng-href="#!/{{lsC.brewer.selector}}/shoppinglist/{{shopping.id}}" class="yelp-list-item" ng-repeat="shopping in lsC.shoppingList | filter:search:strict  track by $index">
    <img ng-src="{{shopping.photo_url_small}}" class="yelp-list-item-image" />
    <p class="yelp-list-item-details">{{shopping.name}}</p>
    <p class="yelp-list-item-details-small">{{shopping.address1}}</p>
    <p class="yelp-list-item-details-small">{{shopping.city}}, {{shopping.state}} {{shopping.zip}}</p>
    <p class="rating" data-rating="{{shopping.avg_rating}}">
        <i class="star-1">★</i>
        <i class="star-2">★</i>
        <i class="star-3">★</i>
        <i class="star-4">★</i>
        <i class="star-5">★</i>
        <span class="rating-small">   -from {{shopping.review_count}} Reviews(s)</span>
    </p>
</a>
<a href="http://www.moosedog.io" target="_blank" class="brewer-list-item">
    <div class=" brewer-list-item-image brewer40-moosedog"></div>
    <p class="brewer-list-item-detail brewer brewer-list-item-detail-small">VT Beer Trail Is Handcrafted By:</p>
    <p class="brewer-list-item-detail">MooseDog Studios</p>
    <p class="brewer-list-item-detail brewer-list-item-detail-small">Stowe, VT</p>
</a>

<section class="spinner-block" data-loading-spinner-widget>
    <div class="spinner"></div>
</section>
