//Courtesy: http://sassmeister.com/gist/d1b14280c6160f91f295
@function lighten-new($color, $amount: 0%) {
    @if $amount == 0 {$amount: 0%;}
    @return lighten($color, ($amount/100%) * (100% - lightness($color)));
}

@function darken-new($color, $amount: 0%) {
    @if $amount == 0 {$amount: 0%;}
    @return darken($color, ($amount/100%) * (lightness($color)));
}

//maybe #414d0b for green = 65,77,11
// $green: rgb(141,159,106);
// $green-dark: darken($green, 10%);
// $green-darker: darken($green, 20%);
// $green-light: lighten($green, 15%);
// $green-white: lighten($green, 40%);

// $grey: rgb(147,149,152);
// $grey-blue: rgb(82,126,144);
// $attribution: rgba($grey-blue, .1);

// $red: rgb(95,9,0);

// $black: darken($grey, 25%);

// $white: lighten($yellow, 36%);
$yellow: rgb(190,170,119);
$yellow-lite: lighten-new($yellow, 65%);

$green: rgb(123, 140, 48);
$green-dark: darken-new($green, 15%);
$green-darker: darken-new($green, 20%);
$green-light: lighten-new($green, 10%);
$green-white: lighten-new($green, 40%);

$grey: rgb(147,149,152);
$grey-blue: rgb(82,126,144);
$grey-blue-lite: lighten-new($grey-blue, 25%);
$grey-blue-liter: lighten-new($grey-blue, 85%);
$attribution: rgba($grey-blue, .1);

$black: darken-new($grey, 35%);
$black-dark: darken-new($grey, 65%);

$white: lighten-new($yellow, 90%);
