
<section class="home">
    <h2 class="home-header">Vermont BeerTrail</h2>
    <p class="home-description">Your very own Vermont Craft Beer Travel Guide!</p>
    <p class="home-description">A little web-site resource to help you find your way around this amazing place we call home.</p>
    <p class="home-description">Enjoy the scenery,</p>
    <p class="home-description">Watch Out For The Cows!</p>
</section>

<section class="home-choose">
  <a href="#!/brewerlist" class="home-choose-link home-choose-link-left">Brewer List</a>
  <a href="#!/brewermap" class="home-choose-link home-choose-link-right">Brewers Map</a>
</section>

<p class="home-caveat">So... it seems you are on your computer.</p>
<p class="home-caveat">Please understand, VT BeerTrail really was designed from the ground up to be used on a telephone to help you find your favorite craft beer up here.</p>
<p class="home-caveat" data-home-brewer-prefetch>Everything works exactly the same, it just looks kind of different.  Many thanks for stopping by, feel free to poke around!</p>
